<% content_for :breadcrumbs do %>
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <%= c.item href: admin_root_path do %>Administration<% end %>
    <%= c.item href: admin_corporations_path do %>Corporations<% end %>
  <% end %>
<% end %>

<%= render PageHeadingComponent.new(title: 'Corporations') do |c| %>
  <%= c.action do %>
    <%= render(DataTableSorterComponent.new(name: :corporations, filter: @filter, session: session)) %>
  <% end %>
<% end %>

<div class="max-w-7xl mt-4 mx-auto px-4 sm:px-6 md:px-8">
  <%= render(DataTableComponent.new(name: :corporations, filter: @filter, scope: @corporations)) do |dt| %>
    <% dt.table do %>
      <%= render 'corporations', corporations: @corporations, paginator: @pagy %>
    <% end %>
  <% end %>
</div>
