<%= render(TableRowComponent.new(classes: 'divide-x divide-gray-200 dark:divide-zinc-800')) do |tr| %>
  <% tr.cell padding: 'px-4 py-1' do %>
    <div class="flex items-center">
      <div class="flex-shrink-0 w-8 h-8">
        <%= image_tag fitting.type.icon_url, class: 'h-8 w-8 rounded-md' %>
      </div>
      <div class="ml-4">
        <div class="text-xs font-medium text-gray-900 dark:text-zinc-100">
          <%= link_to fitting.name, fitting_path(fitting), class: 'text-xs hover:text-indigo-900 dark:hover:text-sky-900', data: { turbo_frame: '_top' } %>
        </div>
        <div class="text-xs text-gray-500 dark:text-zinc-500">
          <%= fitting.type.name %>
        </div>
      </div>
    </div>
  <% end %>
  <% if fitting.inventory_enabled? %>
    <%= render partial: 'fittings/fittings_table_row_market', locals: { fitting: fitting, market: main_market, tr: tr } %>
    <%= render partial: 'fittings/fittings_table_row_market', locals: { fitting: fitting, market: secondary_market, tr: tr } %>
  <% else %>
    <% tr.cell padding: 'px-4 py-1', colspan: 6 do %>
      <div class="italic text-center">Inventory tracking is not enabled for this fitting.</div>
    <% end %>
  <% end %>
<% end %>
<% if fitting.inventory_enabled? %>
  <%= render(TableRowComponent.new(classes: 'divide-x divide-gray-200 dark:divide-zinc-800')) do |tr| %>
    <%= tr.cell padding: 'px-4 py-1', colspan: 1 do %><% end %>
    <%= tr.cell classes: 'p-0 border-b-4 border-b-gray-400 dark:border-b-zinc-600', colspan: 12 do %>
      <div data-controller="toggle">
        <div class="bg-gray-100 dark:bg-zinc-700 cursor-pointer uppercase text-center text-gray-400 dark:text-zinc-400 text-[0.625rem] flex justify-center hover:text-gray-500 dark:hover:text-zinc-500" data-action="click->toggle#toggle touch->toggle#toggle">
          7 Day History
          <%= heroicon 'chevron-down', variant: :solid, options: { class: 'flex-shrink-0 -mr-1 ml-1 h-3 w-3' } %>
        </div>
        <div class="flex hidden divide-x-2 divide-gray-200 dark:divide-zinc-800" data-toggle-target="toggleable">
          <%= render partial: 'fittings/fittings_table_row_history', locals: { fitting: fitting, market: main_market } %>
          <%= render partial: 'fittings/fittings_table_row_history', locals: { fitting: fitting, market: secondary_market } if secondary_market %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
