<% content_for :breadcrumbs do %>
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <%= c.item href: fittings_path do %>Fittings<% end %>
    <%= c.item href: fitting_path(@fitting) do %><%= @fitting.name %><% end %>
  <% end %>
<% end %>

<!-- Page header -->
<div class="max-w-3xl mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
  <div class="flex items-center space-x-5">
    <div class="flex-shrink-0">
      <div class="relative">
        <%= image_tag "https://images.evetech.net/types/#{@fitting.type_id}/render", class: 'h-16 h-16 rounded-md' %>
        <span class="absolute inset-0 shadow-inner rounded-md" aria-hidden="true"></span>
      </div>
    </div>
    <div>
      <h1 class="text-2xl font-bold text-gray-900"><%= @fitting.name %></h1>
      <p class="text-sm font-medium text-gray-500"><%= @fitting.type.name %> (<%= @fitting.type.group.name %>)</p>
    </div>
  </div>
  <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
    <%= link_to 'Edit', edit_fitting_path, class: "inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500" if policy(@fitting).update? %>
  </div>
</div>

<div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
  <div class="space-y-6 lg:col-start-1 lg:col-span-2">
    <% if @fitting.total_available.zero? %>
      <section>
        <div class="bg-red-50 border-l-4 border-red-400 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <%= heroicon 'exclamation', variant: :solid, options: { class: 'h-5 w-5 text-red-400' } %>
            </div>
            <div class="ml-3">
              <p class="text-sm text-red-700">
                Out of stock on contract and <%= @fitting.main_market.name %> market.
              </p>
            </div>
          </div>
        </div>
      </section>
    <% end %>

    <section>
      <dl class="grid grid-cols-1 gap-5 sm:grid-cols-3">
        <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
          <dt class="text-sm font-medium text-gray-500 truncate">
            Contracts On Hand
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-gray-900">
            <%= @fitting.contracts_on_hand.count %>
          </dd>
        </div>

        <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
          <dt class="text-sm font-medium text-gray-500 truncate">
            Contracts Received (7 days)
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-gray-900">
            <%= @fitting.contracts_received.count %>
          </dd>
        </div>

        <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
          <dt class="text-sm font-medium text-gray-500 truncate">
            Contracts Sold (7 days)
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-gray-900">
            <%= @fitting.contracts_sold.count %>
          </dd>
        </div>

        <% if @fitting.owner.main_market %>
          <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-gray-500 truncate">
              <%= @fitting.owner.main_market.name %> Market
            </dt>
            <dd class="mt-1 text-3xl font-semibold text-gray-900">
              <%= @fitting.market_on_hand(@fitting.owner.main_market) %>
            </dd>
          </div>
        <% end %>

        <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
          <dt class="text-sm font-medium text-gray-500 truncate">
            Quality Contracts
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-gray-900">
            <%= @fitting.contract_quality ? number_to_percentage(@fitting.contract_quality, precision: 2) : 'N/A' %>
          </dd>
        </div>

        <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
          <dt class="text-sm font-medium text-gray-500 truncate">
            Lost (7 days)
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-gray-900">
            <%= @fitting.killmail_fittings.matching.joins(:killmail).where('killmails.time >= ?', 7.days.ago.beginning_of_day).count %>
          </dd>
        </div>

        <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
          <dt class="text-sm font-medium text-gray-500 truncate">
            Daily Contract Sales (7 days)
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-gray-900">
            <%= number_with_precision @fitting.contracts_sold_daily_avg(:week), precision: 2 %>
          </dd>
        </div>

        <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
          <dt class="text-sm font-medium text-gray-500 truncate">
            Daily Losses (7 days)
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-gray-900">
            <%= number_with_precision @fitting.killmail_losses_daily_avg(:week), precision: 2 %>
          </dd>
        </div>

        <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
          <dt class="text-sm font-medium text-gray-500 truncate">
            Regional Hull Sales (7 days)
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-gray-900">
            <%= number_with_precision @fitting.regional_sales_daily_avg(:week), precision: 2 %>
          </dd>
        </div>
      </dl>
    </section>
    <section aria-labelledby="fitting-information-title">
      <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
          <h2 id="fitting-information-title" class="text-lg leading-6 font-medium text-gray-900">
            Fitting Information
          </h2>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
          <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Owner
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                <%= @fitting.owner.name %>
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Last updated
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                <%= local_time @fitting.updated_at, format: :db %>
              </dd>
            </div>
          </dl>
        </div>
        <!--
        <div>
          <a href="#" class="block bg-gray-50 text-sm font-medium text-gray-500 text-center px-4 py-4 hover:text-gray-700 sm:rounded-b-lg">View on wiki</a>
        </div>
        -->
      </div>
    </section>

    <section>
      <%= render 'market_availability', fitting: @fitting %>
    </section>

    <section aria-labelledby="contracts-title">
      <div class="bg-white shadow sm:rounded-lg sm:overflow-hidden">
        <div class="divide-y divide-gray-200">
          <div class="px-4 py-5 sm:px-6">
            <h2 id="contracts-title" class="text-lg font-medium text-gray-900">Open Contracts</h2>
          </div>
          <div class="px-4 py-5">
            <%=
              line_chart [
                { name: 'Issued', data: ContractEvent.where(event: 'issued', contract_id: @fitting.contract_fittings.where('similarity >= ?', @fitting.contract_match_threshold || 1.0).pluck(:contract_id)).where('time >= ?', 1.month.ago.beginning_of_day).group_by_day(:time).count },
                { name: 'Sold', data: ContractEvent.where(event: 'finished', contract_id: @fitting.contract_fittings.where('similarity >= ?', @fitting.contract_match_threshold || 1.0).pluck(:contract_id)).where('time >= ?', 1.month.ago.beginning_of_day).group_by_day(:time).count }
              ]
            %>
          </div>
          <div>
            <table class="table-auto min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Title
                  </th>
                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Similarity
                  </th>
                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Price (ISK)
                  </th>
                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Location
                  </th>
                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Issuer
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <% @fitting.contract_fittings.includes(:contract).matching.outstanding.order(similarity: :desc).each do |contract_fitting| %>
                  <% contract = contract_fitting.contract %>
                  <tr>
                    <td class="px-3 py-2 whitespace-nowrap">
                      <%= link_to contract.title.strip.present? ? contract.title.strip : '(No title)', contract_path(contract), class: 'text-xs text-indigo-600 hover:text-indigo-900' %>
                    </td>
                    <td class="px-3 py-2 whitespace-nowrap">
                      <div class="text-xs text-gray-900"><%= number_to_percentage contract_fitting.similarity * 100.0, precision: 0, delimiter: ',' %></div>
                    </td>
                    <td class="px-3 py-2 whitespace-nowrap">
                      <div class="text-xs text-gray-900"><%= number_with_precision contract.price, precision: 2, delimiter: ',' %></div>
                    </td>
                    <td class="px-3 py-2 whitespace-nowrap">
                      <div class="text-xs text-gray-900"><%= contract.end_location.name %></div>
                    </td>
                    <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-500">
                      <div class="text-xs text-gray-900">
                        <%= contract.issuer.name %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section aria-labelledby="problematic-contracts-title">
      <div class="bg-white shadow sm:rounded-lg sm:overflow-hidden">
        <div class="divide-y divide-gray-200">
          <div class="px-4 py-5 sm:px-6">
            <h2 id="problematic-contracts-title" class="text-lg font-medium text-gray-900">Problematic Contracts</h2>
          </div>
          <div class="px-4 py-5">
            <%=
              line_chart [
                { name: 'Issued', data: ContractEvent.where(event: 'issued', contract_id: @fitting.contract_fittings.where('similarity < 1.0').pluck(:contract_id)).where('time >= ?', 1.month.ago.beginning_of_day).group_by_day(:time).count },
                { name: 'Sold', data: ContractEvent.where(event: 'finished', contract_id: @fitting.contract_fittings.where('similarity < 1.0').pluck(:contract_id)).where('time >= ?', 1.month.ago.beginning_of_day).group_by_day(:time).count }
              ]
            %>
          </div>
          <div>
            <table class="table-auto min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Title
                  </th>
                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Similarity
                  </th>
                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Price (ISK)
                  </th>
                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Location
                  </th>
                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Issuer
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <% @fitting.contract_fittings.joins(:contract).includes(:contract).where("similarity < 1.0").where("contracts.status = 'outstanding'").each do |contract_fitting| %>
                  <% contract = contract_fitting.contract%>
                  <tr>
                    <td class="px-3 py-2 whitespace-nowrap">
                      <%= link_to contract.title.strip.present? ? contract.title.strip : '(No title)', contract_path(contract), class: 'text-xs text-indigo-600 hover:text-indigo-900' %>
                    </td>
                    <td class="px-3 py-2 whitespace-nowrap">
                      <div class="text-xs text-gray-900"><%= number_to_percentage contract_fitting.similarity * 100.0, precision: 0, delimiter: ',' %></div>
                    </td>
                    <td class="px-3 py-2 whitespace-nowrap">
                      <div class="text-xs text-gray-900"><%= number_with_precision contract.price, precision: 2, delimiter: ',' %></div>
                    </td>
                    <td class="px-3 py-2 whitespace-nowrap">
                      <div class="text-xs text-gray-900"><%= contract.end_location.name %></div>
                    </td>
                    <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-500">
                      <div class="text-xs text-gray-900">
                        <%= contract.issuer.name %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section aria-labelledby="contents-title" class="lg:col-start-3 lg:col-span-1">
    <div class="bg-white shadow sm:rounded-lg sm:overflow-hidden">
      <div class="divide-y divide-gray-200">
        <div class="px-4 py-5 sm:px-6">
          <h2 id="contents-title" class="text-lg font-medium text-gray-900">Contents</h2>
        </div>
        <div>
          <table class="max-w-full table-fixed divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="w-5/6 px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Item
                </th>
                <th scope="col" class="w-1/6 px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Qty
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @fitting.items.includes(:type).each do |item| %>
                <tr>
                  <td class="px-4 py-2 text-xs font-medium text-gray-900">
                    <%= item.type.name %>
                  </td>
                  <td class="px-4 py-2 text-xs font-medium">
                    <%= number_with_delimiter item.quantity %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
