<% content_for :breadcrumbs do %>
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <%= c.item href: fittings_path do %>Fittings<% end %>
    <%= c.item href: fitting_path(@fitting) do %><%= @fitting.name %><% end %>
  <% end %>
<% end %>

<% stock = @fitting.current_stock_level(@fitting.owner.main_market) %>

<div class="max-w-3xl mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
  <div class="flex items-center space-x-5">
    <div class="flex-shrink-0">
      <div class="relative">
        <%= image_tag "https://images.evetech.net/types/#{@fitting.type_id}/render", class: 'h-16 h-16 rounded-md' %>
        <span class="absolute inset-0 shadow-inner rounded-md" aria-hidden="true"></span>
      </div>
    </div>
    <div>
      <h1 class="text-2xl font-bold text-gray-900"><%= @fitting.name %></h1>
      <p class="text-sm font-medium text-gray-500"><%= @fitting.type.name %> (<%= @fitting.type.group.name %>)</p>
    </div>
  </div>
  <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
    <%= link_to 'Edit', edit_fitting_path, class: "inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500" if policy(@fitting).update? %>
  </div>
</div>

<div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
  <div class="space-y-6 lg:col-start-1 lg:col-span-2">
    <% if stock.total_quantity.zero? %>
      <section>
        <div class="bg-red-50 border-l-4 border-red-400 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <%= heroicon 'exclamation', variant: :solid, options: { class: 'h-5 w-5 text-red-400' } %>
            </div>
            <div class="ml-3">
              <p class="text-sm text-red-700">
                Out of stock on contract and <%= @fitting.main_market.name %> market.
              </p>
            </div>
          </div>
        </div>
      </section>
    <% end %>

    <% if current_user.admin? %>
      <section>
        <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6"
          data-controller="stock-levels-chart"
          data-stock-levels-chart-url-value="<%= stock_levels_fitting_path(@fitting) %>"
          data-stock-levels-chart-minimum-level-value="<%= @fitting.safety_stock %>"
          data-stock-levels-chart-canvas-id-value="#stockLevelsChart"
        >
          <div id="stockLevelsChart" class="h-72" data-stock-levels-chart-target="chart"></div>
        </div>
      </section>
    <% end %>

    <section>
      <%= render 'fitting_stats', fitting: @fitting, stock: stock %>
    </section>

    <section>
      <%= render 'market_availability', fitting: @fitting %>
    </section>

    <section>
      <%= render 'fitting_contracts', fitting: @fitting, contract_fittings: @contract_fittings, stock: stock %>
    </section>
  </div>

  <div class="lg:col-start-3 lg:col-span-1 space-y-6">
    <%= render 'fitting_info', fitting: @fitting %>

    <%= render 'fitting_items', fitting: @fitting %>
  </div>
</div>
