<div class="flex items-center">
  <div class="relative inline-block text-left"
      data-controller="dropdown" data-dropdown-active-class="bg-gray-100 font-medium text-gray-900" data-dropdown-active-target="#<%= name %>Sort">
    <div>
      <button id="<%= name %>SortButton" type="button"
              class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
              aria-expanded="false" aria-haspopup="true"
              data-action="click->dropdown#toggle click@window->dropdown#hide" data-dropdown-target="button">
        Sort
        <%= heroicon 'chevron-down', variant: :solid, options: { class: 'flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500' } %>
      </button>
    </div>

    <div class="origin-top-right z-10 absolute right-0 mt-2 w-40 rounded-md shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1"
        data-dropdown-target="menu">
      <div id="<%= name %>Sort" class="py-1" role="none">
        <% filter.sorters.each do |sorter_name, sorter| %>
          <%= link_to sorter[:label], url_for(controller: controller_name, action: :index, sort: sorter_name, only_path: true), class: "#{sorter_item_class(sorter_name)} bg-white block px-4 py-2 text-xs", role: 'menuitem', tabindex: '-1', data: { turbo_frame: name } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
