<% turbo_frame_tag name do %>
<div class="grid grid-cols-1 lg:grid-cols-4 gap-x-4 gap-y-10">
  <div class="overflow-y-hidden">
    <div class="bg-white overflow-visible shadow rounded-md">
      <div class="px-4 py-2 bg-gray-50">
        <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
          <div class="ml-4 mt-2">
            <h3 class="text-xs uppercase font-medium text-gray-500">
              Filters
            </h3>
          </div>
          <div class="ml-4 mt-2 flex-shrink-0">
            <% if filter.active? %>
              <%= link_to url_for(controller: controller_name, action: :index, only_path: true) do %>
                <%= heroicon 'x-circle', variant: :outline, options: { class: 'h-4 w-4 text-gray-400 hover:text-gray-500' } %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="px-4 py-2">
        <%=
          form_with url: url_for(controller: controller_name, action: :index, only_path: true), method: :get,
                    class: 'hidden lg:block',
                    data: {
                      controller: 'data-table-filters',
                      'data-table-filters-target': 'form'
                    } do |f|
        %>
          <div class="divide-y divide-gray-200 space-y-2">
          <% filter.facets.each do |(name, facet)| %>
            <div class="py-3" data-controller="toggle">
              <h3 class="-my-3 flow-root" data-action="click->toggle#toggle touch->toggle#toggle">
                <button type="button" class="py-2 bg-white w-full flex items-center justify-between text-xs text-gray-400 hover:text-gray-500" aria-controls="filter-section-0" aria-expanded="false">
                  <span class="font-medium text-gray-900">
                    <%= facet[:label] %>
                  </span>
                  <span class="ml-6 flex items-center">
                    <%= heroicon 'plus-sm', variant: :solid, options: { class: 'h-5 w-5', 'data-toggle-target': 'toggleable' } %>
                    <%= heroicon 'minus-sm', variant: :solid, options: { class: 'h-5 w-5 hidden', 'data-toggle-target': 'toggleable' } %>
                  </span>
                </button>
              </h3>
              <div class="mt-4 <%= 'hidden' unless filter.facet_active?(name) %> max-h-48 overflow-y-auto" data-toggle-target="toggleable" data-controller="data-table-facet-filter">
                <div class="space-y-2 pl-1 pb-1">
                  <div class="bg-white sticky top-0 pt-1">
                    <div class="pr-2 relative rounded-md shadow-sm">
                      <%=
                        search_field_tag "#{name.to_s.camelize(:lower)}Filter", nil,
                                         class: 'focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 sm:text-xs border-gray-300 rounded-md',
                                         placeholder: "Filter #{facet[:label]}",
                                         autocomplete: 'off',
                                         data: { action: 'input->data-table-facet-filter#filter', data_table_facet_filter_target: 'query' }
                      %>
                      <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                        <%= heroicon 'filter', variant: :solid, options: { class: 'h-5 w-5 text-gray-400' } %>
                      </div>
                    </div>
                  </div>
                  <% if facet[:array] %>
                    <% filter.facet_items(name).each do |item| %>
                      <div class="flex items-center pr-2" data-data-table-facet-filter-target="item" data-filter-key="<%= item.first.downcase %>">
                        <%= f.check_box(
                              name,
                              {
                                multiple: true,
                                checked: filter.facet_item_selected?(name, item.last.to_s),
                                class: 'h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500',
                                data: { action: 'input->data-table-filters#submit' }
                              },
                              item.last,
                              nil
                            ) %>
                        <%= f.label name, item.first, class: 'ml-3 text-xs text-gray-600' %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <% if filter.attribute_names.include?('query') %>
            <div class="py-3">
              <h3 class="font-medium text-gray-900 text-xs">
                Search within results
              </h3>
              <div class="pt-1">
                <div class="mt-1 relative rounded-md shadow-sm">
                  <%= f.search_field :query, value: filter.query, class: 'focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 sm:text-xs border-gray-300 rounded-md', placeholder: 'Type keywords', data: { action: 'input->data-table-filters#submit' } %>
                  <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                    <%= heroicon 'search', variant: :outline, options: { class: 'h-5 w-5 text-gray-400' } %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="lg:col-span-3">
    <%= table %>
  </div>
</div>
<% end %>
