<table class="<%= layout %> w-full divide-y divide-gray-200 dark:divide-zinc-800">
  <thead class="bg-gray-300 dark:bg-zinc-700 text-gray-700 dark:text-zinc-200">
    <% if head %>
      <%= head %>
    <% else %>
      <tr class="sticky top-0">
        <% headers.each do |header| %>
          <%= header %>
        <% end %>
      </tr>
    <% end %>
  </thead>
  <tbody class="bg-gray-100 dark:bg-zinc-700 divide-y divide-gray-200 dark:divide-zinc-800 text-gray-900 dark:text-zinc-100">
    <%= body %>
    <% rows.each do |row| %>
      <%= row %>
    <% end %>
  </tbody>
</table>
