<% content_for :breadcrumbs do %>
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <%= c.item href: contracts_path do %>Contracts<% end %>
  <% end %>
<% end %>

<%= render PageHeadingComponent.new(title: 'Contracts') do |c| %>
  <%= c.action do %>
    <%= render(DataTableSorterComponent.new(name: :contracts, filter: @filter)) %>
  <% end %>
<% end %>

<div class="max-w-7xl mt-4 mx-auto px-4 sm:px-6 md:px-8">
  <%= render(DataTableComponent.new(name: :contracts, filter: @filter, scope: @contracts)) do |dt| %>
    <% dt.table do %>
      <%= render 'contracts', contracts: @contracts, paginator: @pagy %>
    <% end %>
  <% end %>
</div>
