<% content_for :breadcrumbs do %>
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <%= c.item href: contracts_path do %>Contracts<% end %>
    <%= c.item href: contract_path(@contract) do %><%= @contract.description %><% end %>
  <% end %>
<% end %>

<div class="max-w-3xl mx-auto px-4 sm:px-6 md:px-8">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Contract Information
      </h3>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Description
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <%= @contract.description %>
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Fittings
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <ul class="list-none">
              <% @contract.contract_fittings.each do |cf| %>
                <% fitting = cf.fitting %>
                <% color = cf.similarity == 1.0 ? 'green' : 'red' %>
                <% icon = cf.similarity == 1.0 ? 'check-circle' : 'exclamation' %>
                <% style = cf.similarity == 1.0 ? 'font-medium' : 'italic' %>
                <li>
                  <%= link_to contract_path(@contract, fitting_id: fitting.id), class: "mt-2 flex items-center #{style} text-#{color}-700 hover:text-#{color}-500" do %>
                    <%= heroicon icon, variant: :outline, options: { class: "flex-shrink-0 mr-1.5 h-5 w-5 text-#{color}-500 hover:text-#{color}-500" } %>
                    <%= fitting.name %>
                    <% unless cf.similarity == 1.0 %>(<%= number_to_percentage(cf.similarity * 100.0, precision: 0) %>)<% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Issuer
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <%= @contract.issuer.name %>
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Issued
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <%= local_time @contract.issued_at, format: :db %>
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Price
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <%= number_to_currency @contract.price, unit: 'ISK', format: '%n %u' %>
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Expires
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <%= local_time @contract.expired_at, format: :db %>
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Volume
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <%= number_with_delimiter @contract.volume %>
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Location
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <%= @contract.end_location.name %>
          </dd>
        </div>
        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500 sr-only">
            Items
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <% if @contract_fitting %>
              <%= render 'contract_fitting' %>
            <% else %>
              <%= render 'contract_items' %>
            <% end %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
