  <%= render(CardComponent.new(body_class_names: '')) do |c| %>
    <% c.body do %>
      <%= render(TableComponent.new(layout: 'auto')) do |t| %>
        <% t.header padding: 'px-4 py-2' do %>Type<% end %>
        <% t.header padding: 'px-4 py-2', width: 'w-1/6' do %>Category<% end %>
        <% t.header padding: 'px-4 py-2', width: 'w-1/6' do %>Group<% end %>
        <% t.header padding: 'px-4 py-2', width: 'w-1/6' do %>Market Group<% end %>

        <% types.each do |type| %>
          <% t.row do |tr| %>
            <% tr.cell padding: 'px-4 py-1' do %>
              <div class="flex items-center">
                <div class="flex-shrink-0 h-8 w-8">
                  <%= render(TypeIconComponent.new(type: type, classes: 'h-8 w-8 rounded-md')) %>
                </div>
                <div class="ml-4">
                  <div class="text-xs font-medium text-gray-900 dark:text-zinc-100">
                    <%= link_to type.name, type_path(type), class: 'text-xs hover:text-indigo-900 dark:hover:text-sky-900', data: { turbo_frame: '_top' } %>
                  </div>
                  <div class="text-xs text-gray-500 dark:text-zinc-500">
                    <%= type.name %>
                  </div>
                </div>
              </div>
            <% end %>
            <% tr.cell padding: 'px-4 py-1' do %>
              <%= type.category_name %>
            <% end %>
            <% tr.cell padding: 'px-4 py-1' do %>
              <%= type.group_name %>
            <% end %>
            <% tr.cell padding: 'px-4 py-1' do %>
              <%= type.market_group_name %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% c.footer do %>
      <%= render(PaginatorComponent.new(pagy: paginator)) %>
    <% end %>
  <% end %>
