<div class="py-5 px-4">
  <div class="bg-gray-100 py-6 px-4 sm:px-6 sm:rounded-lg lg:px-8 lg:py-8 lg:grid lg:grid-cols-12 lg:gap-x-8">
    <dl class="grid grid-cols-2 gap-4 text-sm sm:grid-cols-2 md:gap-x-4 lg:col-span-7">
      <div>
        <dt class="font-medium text-gray-900">Contract to</dt>
        <div class="mt-3">
          <dd class="-ml-2 -mt-4 flex flex-wrap items-center">
            <div class="ml-2 mt-4 flex-shrink-0">
              <% if order.requester.is_a?(Character) %>
                <%= render(CharacterPortraitComponent.new(character: order.requester, classes: 'h-8 w-auto rounded-md')) %>
              <% elsif order.requester.is_a?(Corporation) %>
                <%= render(CorporationIconComponent.new(corporation: order.requester, classes: 'h-8 w-auto rounded-md')) %>
              <% elsif order.requester.is_a?(Alliance) %>
                <%= render(AllianceIconComponent.new(alliance: order.requester, classes: 'h-8 w-auto rounded-md')) %>
              <% end %>
              <p class="sr-only"><%= order.requester.name %></p>
            </div>
            <div class="ml-4 mt-4">
              <p class="text-gray-900">
                <% if order.requester.is_a?(Alliance) %>
                  <%= order.requester.procurement_order_requester_name %> (on behalf of <%= order.requester_name %>)
                <% else %>
                  <%= order.requester_name %>
                <% end %>
              </p>
            </div>
          </dd>
        </div>
      </div>
      <div>
        <dt class="font-medium text-gray-900">Delivery location</dt>
        <div class="mt-3">
          <dd class="-ml-2 -mt-4 flex flex-wrap items-center">
            <div class="ml-2 mt-4 flex-shrink-0">
              <%= render(CorporationIconComponent.new(corporation: order.location.locatable.owner, classes: 'h-8 w-auto rounded-md')) %>
              <p class="sr-only"><%= order.location_name %></p>
            </div>
            <div class="ml-4 mt-4">
              <p class="text-gray-900">
                <%= order.location_name %>
              </p>
            </div>
          </dd>
        </div>
      </div>
      <% if order.notes.present? %>
      <div class="col-span-2">
        <dt class="font-medium text-gray-900">Order notes</dt>
        <div class="mt-3">
          <p class="text-gray-900 text-xs prose whitespace-normal overflow-y-scroll max-h-24">
            <%= order.notes %>
          </p>
        </div>
      </div>
      <% end %>
    </dl>

    <dl class="mt-8 divide-y divide-gray-200 text-sm lg:mt-0 lg:col-span-5">
      <% if policy(@order).update? %>
        <div class="pb-2 flex items-center justify-between">
          <dt class="text-gray-600">Subtotal</dt>
          <dd class="font-medium text-gray-900"><%= number_to_isk(order.subtotal) %>&nbsp;ISK</dd>
        </div>
        <div class="py-2 flex items-center justify-between">
          <dt class="text-gray-600">Multiplier</dt>
          <dd class="font-medium text-gray-900"><%= number_to_percentage(order.multiplier, precision: 2) %></dd>
        </div>
        <div class="py-2 flex items-center justify-between">
          <dt class="text-gray-600">Subtotal with multiplier</dt>
          <dd class="font-medium text-gray-900"><%= number_to_isk(@order.subtotal_with_multiplier) %>&nbsp;ISK</dd>
        </div>
      <% else %>
        <div class="pb-2 flex items-center justify-between">
          <dt class="text-gray-600">Subtotal</dt>
          <dd class="font-medium text-gray-900"><%= number_to_isk(order.subtotal_with_multiplier) %>&nbsp;ISK</dd>
        </div>
      <% end %>
      <% if @order.bonus.positive? %>
        <div class="py-2 flex items-center justify-between">
          <dt class="text-gray-600">Bonus</dt>
          <dd class="font-medium text-gray-900"><%= number_to_isk(@order.bonus) %>&nbsp;ISK</dd>
        </div>
      <% end %>
      <div class="pt-2 flex items-center justify-between">
        <dt class="font-medium text-gray-900">Order total</dt>
        <dd class="font-medium text-indigo-600"><%= number_to_isk(@order.total) if @order.persisted? %>&nbsp;ISK</dd>
      </div>
    </dl>
  </div>
</div>
