<section aria-labelledby="info-heading">
  <h3 id="info-heading" class="sr-only">
    Order Information
  </h3>
  <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6 pb-6">
    <div class="sm:col-span-6">
      <%= f.label :notes, 'Order notes', class: 'block text-sm font-medium text-gray-700 dark:text-zinc-300' %>
      <div class="mt-1">
        <%= f.text_area :notes, rows: 4, class: 'shadow-sm focus:ring-indigo-500 dark:bg-zinc-600 dark:text-zinc-100 dark:focus:ring-sky-500 focus:border-indigo-500 dark:focus:border-sky-500 block w-full sm:text-sm border-gray-300 dark:border-zinc-700 rounded-md' %>
      </div>
    </div>

    <div class="sm:col-span-6">
      <%= f.label :requester_id, 'Requester', class: 'block text-sm font-medium text-gray-700 dark:text-zinc-300' %>
      <fieldset class="mt-1">
        <legend class="sr-only">Requester</legend>
        <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-4">
          <% if current_user.role?('character.orders.editor') %>
            <div class="flex items-center">
              <%= f.label :requester_gid, class: 'text-sm font-medium text-gray-700 dark:text-zinc-300 flex flex-row-reverse items-center', value: current_user.character.to_global_id do %>
                <span class="block ml-3"><%= current_user.name %></span>
                <%= f.radio_button :requester_gid, current_user.character.to_global_id, class: 'focus:ring-indigo-500 dark:focus:ring-sky-500 dark:bg-zinc-600 dark:text-zinc-100 h-4 w-4 text-indigo-600 dark:text-sky-600 border-gray-300 dark:border-zinc-700' %>
              <% end %>
            </div>
          <% end %>

          <% if current_user.role?('corporation.orders.editor') %>
            <div class="flex items-center">
              <%= f.label :requester_gid, class: 'text-sm font-medium text-gray-700 dark:text-zinc-300 flex flex-row-reverse items-center', value: current_user.corporation.to_global_id do %>
                <span class="block ml-3">
                <%= current_user.corporation_name %>
                <% if current_user.corporation.procurement_order_requester.present? %>
                  (<%= current_user.corporation.procurement_order_requester_name %>)
                <% end %>
                </span>
                <%= f.radio_button :requester_gid, current_user.corporation.to_global_id, class: 'focus:ring-indigo-500 dark:focus:ring-sky-500 dark:bg-zinc-600 dark:text-zinc-100 h-4 w-4 text-indigo-600 dark:text-sky-600 border-gray-300 dark:border-zinc-700' %>
              <% end %>
            </div>
          <% end %>

          <% if current_user.alliance.procurement_order_requester && current_user.role?('alliance.orders.editor') %>
            <div class="flex items-center">
              <%= f.label :requester_gid, class: 'text-sm font-medium text-gray-700 dark:text-zinc-300 flex flex-row-reverse items-center', value: current_user.alliance.to_global_id do %>
                <span class="block ml-3"><%= current_user.alliance.name %> (<%= current_user.alliance.procurement_order_requester_name %>)</span>
                <%= f.radio_button :requester_gid, current_user.alliance.to_global_id, class: 'focus:ring-indigo-500 dark:focus:ring-sky-500 dark:bg-zinc-600 dark:text-zinc-100 h-4 w-4 text-indigo-600 dark:text-sky-600 border-gray-300 dark:border-zinc-700' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </fieldset>
    </div>

    <div class="sm:col-span-6">
      <%= f.label :visibility, 'Visibility', class: 'block text-sm font-medium text-gray-700 dark:text-zinc-300' %>
      <fieldset class="mt-1">
        <legend class="sr-only">Visibility</legend>
        <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-4">
          <div class="flex items-center">
            <%= f.label :visibility, class: 'text-sm font-medium text-gray-700 dark:text-zinc-300 flex flex-row-reverse items-center', value: :everyone do %>
              <span class="block ml-3">Everyone</span>
              <%= f.radio_button :visibility, :everyone, class: 'focus:ring-indigo-500 dark:focus:ring-sky-500 dark:bg-zinc-600 dark:text-zinc-100 h-4 w-4 text-indigo-600 dark:text-sky-600 border-gray-300 dark:border-zinc-700' %>
            <% end %>
          </div>

          <div class="flex items-center">
            <%= f.label :visibility, class: 'text-sm font-medium text-gray-700 dark:text-zinc-300 flex flex-row-reverse items-center', value: :corporation do %>
              <span class="block ml-3"><%= current_user.corporation_name %></span>
              <%= f.radio_button :visibility, :corporation, class: 'focus:ring-indigo-500 dark:focus:ring-sky-500 dark:bg-zinc-600 dark:text-zinc-100 h-4 w-4 text-indigo-600 dark:text-sky-600 border-gray-300 dark:border-zinc-700' %>
            <% end %>
          </div>

          <% if current_user.alliance %>
            <div class="flex items-center">
              <%= f.label :visibility, class: 'text-sm font-medium text-gray-700 dark:text-zinc-300 flex flex-row-reverse items-center', value: :alliance do %>
                <span class="block ml-3"><%= current_user.alliance_name %></span>
                <%= f.radio_button :visibility, :alliance, class: 'focus:ring-indigo-500 dark:focus:ring-sky-500 dark:bg-zinc-600 dark:text-zinc-100 h-4 w-4 text-indigo-600 dark:text-sky-600 border-gray-300 dark:border-zinc-700' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </fieldset>
    </div>

    <div class="sm:col-span-3">
      <%= f.label :location_id, 'Location', class: 'block text-sm font-medium text-gray-700 dark:text-zinc-300' %>
      <div class="mt-1">
        <%= f.collection_select :location_id, main_alliance.locations.order(:name), :id, :name, { selected: main_alliance.default_location.id }, { class: 'shadow-sm dark:bg-zinc-600 dark:text-zinc-100 focus:ring-indigo-500 dark:focus:ring-sky-500 focus:border-indigo-500 dark:focus:border-sky-500 block w-full sm:text-sm border-gray-300 dark:border-zinc-700 rounded-md' } %>
      </div>
    </div>

    <div class="sm:col-span-3">
      <%= f.label :target_completion_at, 'Due date (optional)', class: 'block text-sm font-medium text-gray-700 dark:text-zinc-300' %>
      <div class="mt-1">
        <%= f.date_field :target_completion_at, class: 'shadow-sm dark:bg-zinc-600 dark:text-zinc-100 focus:ring-indigo-500 dark:focus:ring-sky-500 focus:border-indigo-500 dark:focus:border-sky-500 block w-full sm:text-sm border-gray-300 dark:border-zinc-700 rounded-md', min: Time.zone.today %>
      </div>
    </div>
  </div>
</section>

<section aria-labelledby="items-heading" class="pt-6">

  <header class="flex items-center justify-between space-x-5">
    <div class="flex-1 min-w-0">
      <h3 id="info-heading" class="text-lg leading-6 font-medium text-gray-900 dark:text-zinc-100">
        Items
      </h3>
    </div>
  </header>

  <div class="mt-6 pb-4">
    <ul data-order-target="items">
      <%= f.fields_for :items do |item_fields| %>
        <%= render 'item_form', f: item_fields %>
      <% end %>
    </ul>
    <div
      class="flex-1 flex flex-col py-3"
      data-controller="autocomplete" data-autocomplete-url-value="<%= autocomplete_market_types_path %>" data-autocomplete-min-length-value="3">
      <div class="flex items-center justify-between space-x-3">
        <div class="grow relative rounded-md shadow-sm">
          <%= f.label :type_id, 'Item', class: 'sr-only' %>
          <%= search_field_tag :type_id_autocomplete, '', placeholder: 'Search items by name', class: 'focus:ring-indigo-500 dark:focus:ring-sky-500 dark:bg-zinc-600 dark:text-zinc-100 focus:border-indigo-500 dark:focus:border-sky-500 block w-full pr-10 sm:text-xs border-gray-300 dark:border-zinc-700 rounded-md', data: { autocomplete_target: 'input', order_target: 'itemSearch' } %>
          <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
            <%= heroicon 'search', variant: :outline, options: { class: 'h-5 w-5 text-gray-400 dark:text-zinc-400' } %>
          </div>
          <ul class="absolute z-10 mt-1 w-full bg-white dark:bg-zinc-600 shadow-lg max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3"
            data-autocomplete-target="results">
          </ul>
        </div>
      </div>
      <%= hidden_field_tag :type_id_autocomplete_value, '', data: { order_target: 'type' } %>
    </div>
  </div>
</section>

<section aria-labelledby="summary-heading" class="pt-8 pb-6">
  <h3 id="summary-heading" class="sr-only">
    Order Summary
  </h3>

  <div class="bg-gray-100 dark:bg-zinc-700 rounded-lg sm:p-6">
    <div class="flow-root">
      <dl class="-my-4 text-sm divide-y divide-gray-200 dark:divide-zinc-800">
        <div class="py-2 flex items-center justify-between">
          <dt class="text-gray-600 dark:text-zinc-400">
            Subtotal
          </dt>
          <dd class="font-medium text-gray-900 dark:text-zinc-100">
            <span data-order-target="subtotal"><%= number_to_isk(@order.subtotal) if @order.persisted? %></span>
            &nbsp;ISK
          </dd>
        </div>
        <div class="py-2 flex items-center justify-between">
          <dt class="text-gray-600 dark:text-zinc-400">
            Multiplier
          </dt>
          <dd class="font-medium text-gray-900 dark:text-zinc-100">
            <div class="flex space-x-2 items-center justify-between block">
              <%= f.label :multiplier, 'Multiplier', class: 'sr-only' %>
              <div class="inline-block relative rounded-md shadow-sm">
                <%= f.number_field :multiplier, min: 0, step: 5.0, class: 'focus:ring-indigo-500 dark:focus:ring-sky-500 dark:bg-zinc-600 dark:text-zinc-100 focus:border-indigo-500 dark:focus:border-sky-500 block w-48 pr-12 sm:text-xs border-gray-300 dark:border-zinc-700 rounded-md', data: { order_target: 'multiplier', action: 'input->order#calculateTotal' } %>
                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                  <span class="text-gray-500 dark:text-zinc-500 sm:text-xs" id="multiplier-unit">
                    %
                  </span>
                </div>
              </div>
            </div>
          </dd>
        </div>
        <div class="py-2 flex items-center justify-between">
          <dt class="text-gray-600 dark:text-zinc-400">
            Subtotal with multiplier
          </dt>
          <dd class="font-medium text-gray-900 dark:text-zinc-100">
            <span data-order-target="subtotalWithMultiplier"><%= number_to_isk(@order.subtotal_with_multiplier) if @order.persisted? %></span>
            &nbsp;ISK
          </dd>
        </div>
        <div class="py-2 flex items-center justify-between">
          <dt class="text-gray-600 dark:text-zinc-400">
            Bonus
          </dt>
          <dd class="font-medium text-gray-900 dark:text-zinc-100">
            <div class="flex space-x-1 items-center justify-between block">
              <%= f.label :bonus, 'Bonus', class: 'sr-only' %>
              <div class="inline-block relative rounded-md shadow-sm">
                <%= f.number_field :bonus, value: 0, min: 0, step: 1_000_000.0, class: 'focus:ring-indigo-500 dark:focus:ring-sky-500 dark:bg-zinc-600 dark:text-zinc-100 focus:border-indigo-500 dark:focus:border-sky-500 block w-48 pr-12 sm:text-xs border-gray-300 dark:border-zinc-700 rounded-md', data: { order_target: 'bonus', action: 'input->order#calculateTotal' } %>
                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                  <span class="text-gray-500 dark:text-zinc-500 sm:text-xs" id="bonus-unit">
                    ISK
                  </span>
                </div>
              </div>
            </div>
          </dd>
        </div>
        <div class="py-2 flex items-center justify-between">
          <dt class="text-base font-medium text-gray-900 dark:text-zinc-100">
            Order total
          </dt>
          <dd class="text-base font-medium text-indigo-600 dark:text-sky-600">
            <span data-order-target="total"><%= number_to_isk(@order.total) if @order.persisted? %></span>
            &nbsp;ISK
          </dd>
          <%= hidden_field_tag :price, '', data: { order_target: 'price' } %>
        </div>
      </dl>
    </div>
  </div>
</section>
