<%= turbo_frame_tag 'orders' do %>
  <div class="block">
    <div class="border-b border-gray-200 dark:border-zinc-800">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <% current_tab = params[:tab] || 'available' %>
        <% default_link_class = 'border-transparent text-gray-500 dark:text-zinc-500 hover:text-gray-700 dark:hover:text-zinc-300 hover:border-gray-200 dark:hover:border-zinc-800' %>
        <% current_link_class = 'border-indigo-500 dark:border-sky-500 text-indigo-600 dark:text-sky-600' %>
        <% current_counter_class = 'bg-indigo-100 dark:bg-sky-100 text-indigo-600 dark:text-sky-600' %>
        <% default_counter_class = 'bg-gray-100 dark:bg-zinc-100 text-gray-900 dark:text-zinc-100' %>

        <% available_count = policy_scope(ProcurementOrder.kept.available).count %>
        <%= link_to history_procurement_orders_path(tab: 'available'), class: "#{current_tab == 'available' ? current_link_class : default_link_class} whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm", data: { turbo_frame: 'orders' } do %>
          Available
          <% if available_count > 0 %><span class="<%= current_tab == 'available' ? current_counter_class : default_counter_class %> hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block"><%= available_count %></span><% end %>
        <% end %>

        <% in_progress_count = policy_scope(ProcurementOrder.kept.in_progress).count %>
        <%= link_to history_procurement_orders_path(tab: 'in_progress'), class: "#{current_tab == 'in_progress' ? current_link_class : default_link_class} whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm", data: { turbo_frame: 'orders' } do %>
          In Progress
          <% if in_progress_count > 0 %><span class="<%= current_tab == 'in_progress' ? current_counter_class : default_counter_class %> hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block"><%= in_progress_count %></span><% end %>
        <% end %>

        <% delivered_count = policy_scope(ProcurementOrder.kept.delivered).count %>
        <%= link_to history_procurement_orders_path(tab: 'delivered'), class: "#{current_tab == 'delivered' ? current_link_class : default_link_class} whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm", data: { turbo_frame: 'orders' } do %>
          Delivered
          <% if delivered_count > 0 %><span class="<%= current_tab == 'delivered' ? current_counter_class : default_counter_class %> hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block"><%= delivered_count %></span><% end %>
        <% end %>

        <% if policy(ProcurementOrder).create? %>
          <% draft_count = policy_scope(ProcurementOrder.kept.draft).count %>
          <%= link_to history_procurement_orders_path(tab: 'drafts'), class: "#{current_tab == 'drafts' ? current_link_class : default_link_class} whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm", data: { turbo_frame: 'orders' } do %>
            Drafts
            <% if draft_count > 0 %><span class="<%= current_tab == 'drafts' ? current_counter_class : default_counter_class %> hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block"><%= draft_count %></span><% end %>
          <% end %>
        <% end %>
      </nav>
    </div>
  </div>

  <div class="mt-8">
    <%= render 'orders_table', orders: orders, paginator: paginator, current_tab: current_tab %>
  </div>
<% end %>
