<% content_for :breadcrumbs do %>
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <%= c.item href: procurement_orders_path do %>Procurement Orders<% end %>
    <%= c.item href: procurement_order_path(@order) do %><%= @order.number %><% end %>
  <% end %>
<% end %>

<div class="max-w-5xl mx-auto px-4 sm:px-6 md:px-8">
  <% if @order.discarded? %>
    <div class="bg-red-50 border-l-4 border-red-400 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <%= heroicon 'trash', variant: :solid, options: { class: 'h-5 w-5 text-red-400' } %>
        </div>
        <div class="ml-3">
          <p class="text-sm text-red-700">
            This order is in the trash.
          </p>
        </div>
      </div>
    </div>
  <% elsif @order.delivered? %>
    <div class="bg-indigo-50 border-l-4 border-indigo-400 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <%= heroicon 'truck', variant: :solid, options: { class: 'h-5 w-5 text-indigo-400' } %>
        </div>
        <div class="ml-3">
          <p class="text-sm text-indigo-700">
            This order was delivered by <span class="font-medium"><%= @order.supplier_name %></span> on <%= local_time @order.delivered_at, format: :long_date %>.
          </p>
        </div>
      </div>
    </div>
  <% elsif @order.available? %>
    <div class="max-w-3xl">
      <p class="mt-2 text-4xl font-extrabold tracking-tight sm:text-5xl">Available.</p>
      <p class="mt-2 text-base text-gray-500">Order #<%= @order.number %> is currently waiting for a supplier.</p>

      <% if policy(@order).update? %>
        <div class="mt-12 flex max-w-md space-x-3">
          <%= render 'accept_modal', order: @order, table: false unless @order.requester == current_user.character %>
          <%= render 'redraft_modal', order: @order, table: false %>
          <%= render 'cancel_modal', order: @order, table: false %>
        </div>
      <% elsif policy(@order).accept? && @order.requester != current_user.character %>
        <div class="mt-12 flex max-w-md">
          <%= render 'accept_modal', order: @order, table: false %>
        </div>
      <% end %>
    </div>
  <% elsif @order.unconfirmed? && current_user.character == @order.supplier %>
    <div class="max-w-3xl">
      <p class="mt-2 text-4xl font-extrabold tracking-tight sm:text-5xl">Waiting for confirmation.</p>
      <p class="mt-2 text-base text-gray-500">
        You have delivered order #<%= @order.number %>. but it is still waiting for <span class="font-medium text-gray-900"><%= @order.requester.is_a?(Alliance) ? @order.requester.procurement_order_requester.name : @order.requester_name %></span> to confirm it.
      </p>

      <div class="mt-12 flex max-w-md">
        <%= render 'undeliver_modal', order: @order, table: false %>
      </div>
    </div>
  <% elsif @order.in_progress? && current_user.character == @order.supplier %>
    <div class="max-w-3xl">
      <p class="mt-2 text-4xl font-extrabold tracking-tight sm:text-5xl">Order accepted.</p>
      <p class="mt-2 text-base text-gray-500">
        You have agreed to supply order #<%= @order.number %>.
        Once you've completed the order, create an item exchange contract to <span class="font-medium text-gray-900"><%= @order.requester.is_a?(Alliance) ? @order.requester.procurement_order_requester.name : @order.requester_name %></span>
        at <span class="font-medium text-gray-900"><%= @order.location_name %></span>
        for <span class="font-medium text-gray-900"><%= number_to_isk @order.total %> ISK</span>
        with <span class="font-medium text-gray-900"><%= @order.tracking_number %></span> as the contract description.
      </p>

      <% if @order.target_completion_at && @order.target_completion_at < Time.zone.now %>
        <div class="mt-4 bg-red-50 border-l-4 border-red-400 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <%= heroicon 'clock', variant: :solid, options: { class: 'h-5 w-5 text-red-400' } %>
            </div>
            <div class="ml-3">
              <p class="text-sm text-red-700">
                The due date for this order was <%= local_time @order.target_completion_at, format: :long_ordinal %>.
                <span class="font-bold">Real life comes first!</span>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <% if @order.estimated_completion_at && @order.estimated_completion_at > Time.zone.now %>
        <div class="mt-4 bg-orange-50 border-l-4 border-orange-400 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <%= heroicon 'clock', variant: :solid, options: { class: 'h-5 w-5 text-orange-400' } %>
            </div>
            <div class="ml-3">
              <p class="text-sm text-orange-700">
                You have estimated that this order will be delivered by <%= local_time @order.estimated_completion_at, format: :long_ordinal %>. You have <%= distance_of_time_in_words_to_now(@order.estimated_completion_at) %> remaining before your estimated delivery time.
              </p>
            </div>
          </div>
        </div>
      <% elsif @order.estimated_completion_at && @order.estimated_completion_at < Time.zone.now %>
        <div class="mt-4 bg-red-50 border-l-4 border-red-400 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <%= heroicon 'clock', variant: :solid, options: { class: 'h-5 w-5 text-red-400' } %>
            </div>
            <div class="ml-3">
              <p class="text-sm text-red-700">
                You estimated that this order would be delivered by <%= local_time @order.estimated_completion_at, format: :long_ordinal %>. You have exceeded your estimated delivery time by <%= distance_of_time_in_words_to_now(@order.estimated_completion_at) %>.
                <span class="font-bold">Real life comes first!</span>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <div class="mt-12 flex max-w-md space-x-3">
        <%= render 'deliver_modal', order: @order, table: false %>
        <%= render 'release_modal', order: @order, table: false %>
      </div>
    </div>
  <% elsif @order.unconfirmed? && policy(@order).update? %>
    <div class="max-w-3xl">
      <p class="mt-2 text-4xl font-extrabold tracking-tight sm:text-5xl">Delivered!</p>
      <p class="mt-2 text-base text-gray-500">Your order #<%= @order.number %> has been delivered by <span class="font-medium"><%= @order.supplier_name %></span>.</p>
      <p class="mt-2 text-base font-bold">Once you've verified and accepted the contract, please confirm the delivery below.</p>

      <div class="mt-12 flex max-w-md">
        <%= render 'receive_modal', order: @order, table: false %>
      </div>
    </div>
  <% elsif @order.in_progress? && policy(@order).update? %>
    <div class="max-w-3xl">
      <p class="mt-2 text-4xl font-extrabold tracking-tight sm:text-5xl">It's on the way!</p>
      <p class="mt-2 text-base text-gray-500">Your order #<%= @order.number %> has been accepted by <span class="font-medium"><%= @order.supplier_name %></span> and will be with you soon.</p>

      <% if @order.target_completion_at && @order.target_completion_at < Time.zone.now %>
        <div class="mt-4 bg-red-50 border-l-4 border-red-400 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <%= heroicon 'clock', variant: :solid, options: { class: 'h-5 w-5 text-red-400' } %>
            </div>
            <div class="ml-3">
              <p class="text-sm text-red-700">
                The due date for this order was <%= local_time @order.target_completion_at, format: :long_ordinal %>.
                <span class="font-bold">Real life comes first!</span>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <% if @order.estimated_completion_at && @order.estimated_completion_at > Time.zone.now %>
        <div class="mt-4 bg-orange-50 border-l-4 border-orange-400 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <%= heroicon 'clock', variant: :solid, options: { class: 'h-5 w-5 text-orange-400' } %>
            </div>
            <div class="ml-3">
              <p class="text-sm text-orange-700">
                <%= @order.supplier_name %> estimated that this order will be delivered by <%= local_time @order.estimated_completion_at, format: :long_ordinal %>.
              </p>
            </div>
          </div>
        </div>
      <% elsif @order.estimated_completion_at && @order.estimated_completion_at < Time.zone.now %>
        <div class="mt-4 bg-red-50 border-l-4 border-red-400 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <%= heroicon 'clock', variant: :solid, options: { class: 'h-5 w-5 text-red-400' } %>
            </div>
            <div class="ml-3">
              <p class="text-sm text-red-700">
                <%= @order.supplier_name %> estimated that this order would be delivered by <%= local_time @order.estimated_completion_at, format: :long_ordinal %>.
                <span class="font-bold">Real life comes first!</span>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="mt-8 px-4 space-y-2 sm:px-0 sm:flex sm:items-center sm:justify-between sm:space-y-0">
    <div>
      <h1 class="text-lg font-extrabold tracking-tight text-gray-900 sm:text-lg block">Order <%= @order.number %></h1>
      <p class="text-xs text-gray-600 block">
        Updated <%= local_time @order.updated_at, class: 'font-medium text-gray-900', format: :long_date %>
        <% if policy(@order).update? %>
        by <%= @order.updated_by_name %>
        <% end %>
      </p>
    </div>
    <div class="flex space-x-3 justify-end">
      <%= render('delete_modal', order: @order, table: false) if @order.draft? && @order.kept? && policy(@order).destroy? %>

      <div data-controller="clipboard" data-clipboard-success-content="Copied!">
        <%= text_area_tag :items_multibuy, @order.items_multibuy, data: { clipboard_target: 'source' }, class: 'absolute -top-[1000px] -left-[1000px]' %>

        <button type="button"
          class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          data-action="clipboard#copy"
          data-clipboard-target="button">
          Copy to Clipboard (Multibuy)
        </button>
      </div>
    </div>
  </div>

  <% if @order.draft? && policy(@order).update? %>
    <div class="bg-white shadow sm:rounded-lg mt-4">
      <div class="px-4 py-5 sm:px-6">
        <%= render 'order_form', order: @order %>
      </div>
    </div>
  <% else %>
    <%= render 'order_summary', order: @order %>
  <% end %>
</div>
