<%= render PageHeadingComponent.new(title: "Search Results - #{params[:query]}", width: 'xl') %>

<% if @results['Fitting'] %>
  <%= render SectionHeadingComponent.new(title: "Fittings (#{@results['Fitting'].count})", width: 'xl') %>

  <div class="mt-4 max-w-xl mx-auto px-4 sm:px-6 md:px-8">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-zinc-800">
      <% @results['Fitting'].each do |result| %>
        <% fitting = result.searchable %>
        <li class="py-4">
          <div class="flex">
            <div class="mr-4 flex-shrink-0 self-center">
              <%= image_tag fitting.type.icon_url, class: 'h-12 w-12 border border-gray-300 dark:border-zinc-700 bg-white dark:bg-zinc-800 text-gray-300 dark:text-zinc-300 rounded-md' %>
            </div>
            <div class="self-center">
              <h4 class="text-md font-bold text-gray-900 dark:text-zinc-100"><%= link_to fitting.name, fitting_path(fitting) %></h4>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @results['Contract'] %>
  <%= render SectionHeadingComponent.new(title: "Contracts (#{@results['Contract'].count})", width: 'xl') %>

  <div class="mt-4 max-w-xl mx-auto px-4 sm:px-6 md:px-8">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-zinc-800">
      <% @results['Contract'].each do |result| %>
        <% contract = result.searchable %>
        <li class="py-4">
          <div class="flex">
            <div class="mr-4 flex-shrink-0">
              <%= image_tag contract.icon_url, class: 'h-12 w-12 border border-gray-300 dark:border-zinc-700 bg-white dark:bg-zinc-800 text-gray-300 dark:text-zinc-300 rounded-md' %>
            </div>
            <div>
              <h4 class="text-md font-bold text-gray-900 dark:text-zinc-100"><%= link_to contract.description, contract_path(contract) %></h4>
              <p class="mt-1 text-sm text-gray-700 dark:text-zinc-300">
                <span><%= contract.end_location_name %></span> / <span><%= number_to_isk contract.price %> ISK</span>
              </p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
