<%= render(CardComponent.new(body_class_names: 'rounded-lg', footer_padding: 'px-2 py-2')) do |c| %>
  <% c.body do %>
    <%= render(TableComponent.new(layout: 'auto')) do |t| %>
      <% t.head do %>
        <%= render(TableRowComponent.new(classes: 'divide-x divide-gray-300 border-b border-gray-300 ')) do |tr| %>
          <% tr.header padding: 'px-4 py-1', colspan: 1 do %><% end %>
          <% tr.header padding: 'px-4 py-1', colspan: 2, align: 'text-center' do %>Market Orders<% end %>
        <% end %>

        <%= render(TableRowComponent.new) do |tr| %>
          <% tr.header padding: 'px-4 py-2' do %>Name<% end %>
          <% tr.header padding: 'px-4 py-2', width: 'w-36' do %>Last Update<% end %>
          <% tr.header padding: 'px-4 py-2', width: 'w-36' do %>Next Update<% end %>
        <% end %>
      <% end %>

      <% regions.each do |region| %>
        <% t.row do |tr| %>
          <% tr.cell padding: 'px-4 py-1' do %>
            <%= link_to region.name, admin_region_path(region), class: 'font-medium', data: { turbo_frame: '_top' } %>
          <% end %>
          <% tr.cell padding: 'px-4 py-1' do %>
            <div class="text-xs font-medium text-gray-900">
              <%= local_time(region.orders_last_modified, format: :db) if region.orders_last_modified %>
            </div>
          <% end %>
          <% tr.cell padding: 'px-4 py-1' do %>
            <div class="text-xs font-medium text-gray-900">
              <%= local_time(region.orders_expires, format: :db) if region.orders_expires %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% c.footer do %>
    <%= render(PaginatorComponent.new(pagy: paginator)) %>
  <% end %>
<% end %>
