<% content_for :breadcrumbs do %>
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <%= c.item href: admin_root_path do %>Administration<% end %>
    <%= c.item href: admin_regions_path do %>Regions<% end %>
  <% end %>
<% end %>

<%= render PageHeadingComponent.new(title: 'Regions') do |c| %>
  <%= c.action do %>
    <%= render(DataTableSorterComponent.new(name: :regions, filter: @filter, session: session)) %>
  <% end %>
<% end %>

<div class="max-w-7xl mt-4 mx-auto px-4 sm:px-6 md:px-8">
  <%= render(DataTableComponent.new(name: :regions, filter: @filter, scope: @regions)) do |dt| %>
    <% dt.table do %>
      <%= render 'regions', regions: @regions, paginator: @pagy %>
    <% end %>
  <% end %>
</div>
