<% content_for :breadcrumbs do %>
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <%= c.item href: admin_root_path do %>Administration<% end %>
    <%= c.item href: admin_regions_path do %>Regions<% end %>
    <%= c.item href: admin_region_path(@region) do %><%= @region.name %><% end %>
    <%= c.item href: admin_region_market_order_batches_path(@region) do %>Market Order Batches<% end %>
  <% end %>
<% end %>

<%= render PageHeadingComponent.new(title: "#{@region.name} - Market Order Batches") %>

<div class="max-w-7xl mt-4 mx-auto px-4 sm:px-6 md:px-8">
  <%= render 'admin/shared/market_order_batches', market_order_batches: @market_order_batches, paginator: @pagy %>
</div>
