<%= render(CardComponent.new(body_class_names: 'rounded-lg', footer_padding: 'px-2 py-2')) do |c| %>
  <% c.body do %>
    <%= render(TableComponent.new(layout: 'auto')) do |t| %>
      <% t.header padding: 'px-4 py-2' do %>Name<% end %>
      <% t.header padding: 'px-4 py-2', width: 'w-48' do %>Corporation<% end %>
      <% t.header padding: 'px-4 py-2', width: 'w-36' do %>Last Sync<% end %>
      <% t.header padding: 'px-4 py-2', width: 'w-48' do %>Role<% end %>

      <% users.each do |user| %>
        <% t.row do |tr| %>
          <% tr.cell padding: 'px-4 py-1' do %>
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <%= image_tag user.character.portrait_url_256, class: 'h-10 w-10 rounded-full', alt: '' %>
              </div>
              <div class="ml-4">
                <div class="text-xs font-medium text-gray-900 dark:text-zinc-100">
                  <%= link_to user.name, admin_user_path(user), class: 'font-medium', data: { turbo_frame: '_top' } %>
                </div>
              </div>
            </div>
          <% end %>
          <% tr.cell padding: 'px-4 py-1' do %>
            <div class="text-xs text-gray-900 dark:text-zinc-100"><%= user.corporation.name %></div>
            <% if user.alliance %><div class="text-xs text-gray-500 dark:text-zinc-500"><%= user.alliance.name %></div><% end %>
          <% end %>
          <% tr.cell padding: 'px-4 py-1' do %>
            <%= local_time user.character.esi_last_modified_at, format: :db if user.character.esi_last_modified_at %>
          <% end %>
          <% tr.cell padding: 'px-4 py-1' do %>
            <% if user.admin? %>Administrator<% else %>User<% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% c.footer do %>
    <%= render(PaginatorComponent.new(pagy: paginator)) %>
  <% end %>
<% end %>
