<% content_for :breadcrumbs do %>
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <%= c.item href: admin_root_path do %>Administration<% end %>
    <%= c.item href: admin_users_path do %>Users<% end %>
    <%= c.item href: admin_user_path(@user) do %><%= @user.name %><% end %>
  <% end %>
<% end %>

<div class="max-w-3xl mx-auto px-4 sm:px-6 md:px-8">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap">
        <div class="ml-4 mt-4">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <%= image_tag @user.character.portrait_url_256, class: 'h-12 w-12', alt: '' %>
            </div>
            <div class="ml-4">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                <%= @user.character.name %>
              </h3>
            </div>
          </div>
        </div>
        <div class="ml-4 mt-4 flex-shrink-0 flex">
        </div>
      </div>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <%= form_with model: @user, url: admin_user_path(@user) do |f| %>
        <div class="space-y-8 divide-y divide-gray">
          <div class="space-y-8 divide-y divide-gray">
            <div class="pt-8">
              <div>
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                  Roles
                </h3>
                <p class="mt-1 text-sm text-gray-500">
                  What the user is allowed to do.
                </p>
              </div>
              <div class="mt-1">
                <fieldset>
                  <div class="mt-4 space-y-4">
                    <div class="relative flex items-start">
                      <div class="flex items-center h-5">
                        <%= f.check_box :roles, { multiple: true, class: 'focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded' }, 'alliance.fittings.editor' %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= f.label :roles, 'Alliance Fittings Editor', class: 'font-medium text-gray-700', value: 'alliance.fittings.editor' %>
                        <p class="text-gray-500">Manage fittings owned by the user's alliance.</p>
                      </div>
                    </div>
                    <div class="relative flex items-start">
                      <div class="flex items-center h-5">
                        <%= f.check_box :roles, { multiple: true, class: 'focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded' }, 'alliance.orders.editor' %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= f.label :roles, 'Alliance Procurement Orders Editor', class: 'font-medium text-gray-700', value: 'alliance.orders.editor' %>
                        <p class="text-gray-500">Manage procurement orders assigned to the user's alliance.</p>
                      </div>
                    </div>
                    <div class="relative flex items-start">
                      <div class="flex items-center h-5">
                        <%= f.check_box :roles, { multiple: true, class: 'focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded' }, 'corporation.fittings.editor' %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= f.label :roles, 'Corporation Fittings Editor', class: 'font-medium text-gray-700', value: 'corporation.fittings.editor' %>
                        <p class="text-gray-500">Manage fittings owned by the user's corporation.</p>
                      </div>
                    </div>
                    <div class="relative flex items-start">
                      <div class="flex items-center h-5">
                        <%= f.check_box :roles, { multiple: true, class: 'focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded' }, 'corporation.orders.editor' %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= f.label :roles, 'Corporation Procurement Orders Editor', class: 'font-medium text-gray-700', value: 'corporation.orders.editor' %>
                        <p class="text-gray-500">Manage procurement orders assigned to the user's corporation.</p>
                      </div>
                    </div>
                    <div class="relative flex items-start">
                      <div class="flex items-center h-5">
                        <%= f.check_box :roles, { multiple: true, class: 'focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded' }, 'character.orders.supplier' %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= f.label :roles, 'Procurement Order Supplier', class: 'font-medium text-gray-700', value: 'character.orders.supplier' %>
                        <p class="text-gray-500">Accept available procurement orders as supplier.</p>
                      </div>
                    </div>
                    <div class="relative flex items-start">
                      <div class="flex items-center h-5">
                        <%= f.check_box :roles, { multiple: true, class: 'focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded' }, 'character.orders.editor' %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= f.label :roles, 'Procurement Order Editor', class: 'font-medium text-gray-700', value: 'character.orders.editor' %>
                        <p class="text-gray-500">Manage personal procurement orders.</p>
                      </div>
                    </div>
                    <div class="relative flex items-start">
                      <div class="flex items-center h-5">
                        <%= f.check_box :roles, { multiple: true, class: 'focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded' }, 'character.orders.viewer' %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= f.label :roles, 'Procurement Order Viewer', class: 'font-medium text-gray-700', value: 'character.orders.viewer' %>
                        <p class="text-gray-500">View available procurement orders.</p>
                      </div>
                    </div>
                    <div class="relative flex items-start">
                      <div class="flex items-center h-5">
                        <%= f.check_box :roles, { multiple: true, class: 'focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded' }, 'esi.authorizer' %>
                      </div>
                      <div class="ml-3 text-sm">
                        <%= f.label :roles, 'ESI Authorizer', class: 'font-medium text-gray-700', value: 'esi.authorizer' %>
                        <p class="text-gray-500">Authorize characters for API calls to ESI.</p>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>

          <div class="pt-5">
            <div class="flex justify-end">
              <%= link_to 'Cancel', admin_user_path(@user), class: 'bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
              <%= f.submit 'Save', class: 'ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
