<% content_for :breadcrumbs do %>
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <%= c.item href: admin_root_path do %>Administration<% end %>
    <%= c.item href: admin_users_path do %>Users<% end %>
  <% end %>
<% end %>

<%= render PageHeadingComponent.new(title: 'Users') do |c| %>
  <%= c.action do %>
    <%= render(DataTableSorterComponent.new(name: :users, filter: @filter, session: session)) %>
  <% end %>
<% end %>

<div class="max-w-7xl mt-4 mx-auto px-4 sm:px-6 md:px-8">
  <%= render(DataTableComponent.new(name: :users, filter: @filter, scope: @users)) do |dt| %>
    <% dt.table do %>
      <%= render 'users', users: @users, paginator: @pagy %>
    <% end %>
  <% end %>
</div>
