<% content_for :breadcrumbs do %>
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <%= c.item href: admin_root_path do %>Administration<% end %>
    <%= c.item href: admin_users_path do %>User<% end %>
    <%= c.item href: admin_user_path(@user) do %><%= @user.name %><% end %>
  <% end %>
<% end %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap">
        <div class="ml-4 mt-4">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <%= render(CharacterPortraitComponent.new(character: @user.character, classes: 'h-12 w-12 rounded-full')) %>
            </div>
            <div class="ml-4">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                <%= @user.name %>
              </h3>
            </div>
          </div>
        </div>
        <div class="ml-4 mt-4 flex-shrink-0 flex">
          <%= link_to edit_admin_user_path(@user), class: 'ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' do %>
            <%= heroicon 'cog', variant: :solid, options: { class: '-ml-1 mr-2 h-5 w-5' } %>
            Settings
          <% end %>
        </div>
      </div>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      </dl>
    </div>
  </div>
</div>
