<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title><%= "[#{Rails.env.upcase}] " unless Rails.env.production? %><%= site_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag main_alliance_logo_url %>

    <%= stylesheet_link_tag 'https://rsms.me/inter/inter.css' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= javascript_pack_tag 'application', nonce: true %>
  </head>

  <body class="h-full">
    <% if logged_in? %>
      <!--
        This example requires Tailwind CSS v2.0+

        This example requires some changes to your config:

        ```
        // tailwind.config.js
        module.exports = {
          // ...
          plugins: [
            // ...
            require('@tailwindcss/forms'),
          ],
        }
        ```
      -->
      <!--
        This example requires updating your template:

        ```
        <html class="h-full bg-gray-100">
        <body class="h-full">
        ```
      -->
      <div data-controller="toggle">
        <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
        <div class="fixed inset-0 flex z-40 md:hidden hidden" role="dialog" aria-modal="true" data-toggle-target="toggleable">
          <!--
            Off-canvas menu overlay, show/hide based on off-canvas menu state.

            Entering: "transition-opacity ease-linear duration-300"
              From: "opacity-0"
              To: "opacity-100"
            Leaving: "transition-opacity ease-linear duration-300"
              From: "opacity-100"
              To: "opacity-0"
          -->
          <div class="fixed inset-0 bg-gray-600 bg-opacity-75" aria-hidden="true"></div>

          <!--
            Off-canvas menu, show/hide based on off-canvas menu state.

            Entering: "transition ease-in-out duration-300 transform"
              From: "-translate-x-full"
              To: "translate-x-0"
            Leaving: "transition ease-in-out duration-300 transform"
              From: "translate-x-0"
              To: "-translate-x-full"
          -->
          <div class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-gray-800">
            <!--
              Close button, show/hide based on off-canvas menu state.

              Entering: "ease-in-out duration-300"
                From: "opacity-0"
                To: "opacity-100"
              Leaving: "ease-in-out duration-300"
                From: "opacity-100"
                To: "opacity-0"
            -->
            <div class="absolute top-0 right-0 -mr-12 pt-2">
              <button type="button" class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" data-action='click->toggle#toggle touch->toggle#toggle'>
                <span class="sr-only">Close sidebar</span>
                <!-- Heroicon name: outline/x -->
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>

            <div class="flex-shrink-0 flex items-center px-4">
              <%= image_tag main_alliance_logo_url, class: 'h-8 w-8 mx-auto', alt: '' %>
            </div>
            <div class="mt-5 flex-1 h-0 overflow-y-auto">
              <nav class="px-2 space-y-1">
                <div>
                  <%= link_to root_path, class: "#{sidebar_item_text_class('dashboards')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                    <%= heroicon 'home', variant: :outline, options: { class: "#{sidebar_item_icon_class('dashboards')} mr-3 flex-shrink-0 h-6 w-6" } %>
                    Dashboard
                  <% end %>

                  <%= link_to contracts_path class: "#{sidebar_item_text_class('contracts')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                    <%= heroicon 'document-text', variant: :outline, options: { class: "#{sidebar_item_icon_class('contracts')} mr-3 flex-shrink-0 h-6 w-6" } %>
                    Contracts
                  <% end %>

                  <%= link_to fittings_path, class: "#{sidebar_item_text_class('fittings')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                    <%= heroicon 'template', variant: :outline, options: { class: "#{sidebar_item_icon_class('fittings')} mr-3 flex-shrink-0 h-6 w-6" } %>
                    Fittings
                  <% end %>

                  <% if current_user.admin? %>
                    <%= link_to types_path, class: "#{sidebar_item_text_class('types')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'chip', variant: :outline, options: { class: "#{sidebar_item_icon_class('types')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Types
                    <% end %>
                  <% end %>
                </div>

                <div class="pt-4">
                  <% if current_user.admin? %>
                    <p class="px-3 pb-4 text-xs font-semibold text-gray-400 uppercase tracking-wider">
                      Administration
                    </p>

                    <%= link_to admin_markets_path, class: "#{sidebar_item_text_class('markets')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'scale', variant: :outline, options: { class: "#{sidebar_item_icon_class('markets')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Markets
                    <% end %>

                    <%= link_to admin_users_path, class: "#{sidebar_item_text_class('users')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'users', variant: :outline, options: { class: "#{sidebar_item_icon_class('users')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Users
                    <% end %>

                    <%= link_to admin_corporations_path, class: "#{sidebar_item_text_class('corporations')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'office-building', variant: :outline, options: { class: "#{sidebar_item_icon_class('corporations')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Corporations
                    <% end %>

                    <%= link_to admin_alliances_path, class: "#{sidebar_item_text_class('alliances')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'globe-alt', variant: :outline, options: { class: "#{sidebar_item_icon_class('alliances')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Alliances
                    <% end %>

                    <%= link_to admin_structures_path, class: "#{sidebar_item_text_class('structures')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'library', variant: :outline, options: { class: "#{sidebar_item_icon_class('structures')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Structures
                    <% end %>

                    <%= link_to admin_regions_path, class: "#{sidebar_item_text_class('regions')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'map', variant: :outline, options: { class: "#{sidebar_item_icon_class('regions')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Regions
                    <% end %>
                  <% end %>
                </div>
              </nav>
            </div>
          </div>

          <div class="flex-shrink-0 w-14" aria-hidden="true">
            <!-- Dummy element to force sidebar to shrink to fit close icon -->
          </div>
        </div>

        <!-- Static sidebar for desktop -->
        <div class="hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
          <!-- Sidebar component, swap this element with another sidebar if you like -->
          <div class="flex-1 flex flex-col min-h-0 bg-gray-800">
            <div class="flex items-center h-16 flex-shrink-0 px-4 bg-gray-900">

              <%= image_tag main_alliance_logo_url, class: 'h-8 w-8 mx-auto', alt: '' %>
            </div>
            <div class="flex-1 flex flex-col overflow-y-auto">
              <nav class="flex-1 px-2 py-4 space-y-1">
                <div>
                  <%= link_to root_path, class: "#{sidebar_item_text_class('dashboards')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                    <%= heroicon 'home', variant: :outline, options: { class: "#{sidebar_item_icon_class('dashboards')} mr-3 flex-shrink-0 h-6 w-6" } %>
                    Dashboard
                  <% end %>

                  <%= link_to contracts_path, class: "#{sidebar_item_text_class('contracts')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                    <%= heroicon 'document-text', variant: :outline, options: { class: "#{sidebar_item_icon_class('contracts')} mr-3 flex-shrink-0 h-6 w-6" } %>
                    Contracts
                  <% end %>

                  <%= link_to fittings_path, class: "#{sidebar_item_text_class('fittings')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                    <%= heroicon 'template', variant: :outline, options: { class: "#{sidebar_item_icon_class('fittings')} mr-3 flex-shrink-0 h-6 w-6" } %>
                    Fittings
                  <% end %>

                  <% if current_user.admin? %>
                    <%= link_to types_path, class: "#{sidebar_item_text_class('types')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'chip', variant: :outline, options: { class: "#{sidebar_item_icon_class('types')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Types
                    <% end %>
                  <% end %>
                </div>

                <div class="pt-4">
                  <% if current_user.admin? %>
                    <p class="px-3 pb-4 text-xs font-semibold text-gray-400 uppercase tracking-wider">
                      Administration
                    </p>

                    <%= link_to admin_markets_path, class: "#{sidebar_item_text_class('markets')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'scale', variant: :outline, options: { class: "#{sidebar_item_icon_class('markets')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Markets
                    <% end %>

                    <%= link_to admin_users_path, class: "#{sidebar_item_text_class('users')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'users', variant: :outline, options: { class: "#{sidebar_item_icon_class('users')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Users
                    <% end %>

                    <%= link_to admin_corporations_path, class: "#{sidebar_item_text_class('corporations')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'office-building', variant: :outline, options: { class: "#{sidebar_item_icon_class('corporations')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Corporations
                    <% end %>

                    <%= link_to admin_alliances_path, class: "#{sidebar_item_text_class('alliances')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'globe-alt', variant: :outline, options: { class: "#{sidebar_item_icon_class('alliances')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Alliances
                    <% end %>

                    <%= link_to admin_structures_path, class: "#{sidebar_item_text_class('structures')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'library', variant: :outline, options: { class: "#{sidebar_item_icon_class('structures')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Structures
                    <% end %>

                    <%= link_to admin_regions_path, class: "#{sidebar_item_text_class('regions')} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'map', variant: :outline, options: { class: "#{sidebar_item_icon_class('regions')} mr-3 flex-shrink-0 h-6 w-6" } %>
                      Regions
                    <% end %>

                    <%= link_to '/admin/sidekiq', class: "text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'clock', variant: :outline, options: { class: "text-gray-400 group-hover:text-gray-300 mr-3 flex-shrink-0 h-6 w-6" } %>
                      Jobs
                    <% end %>

                    <%= link_to '/admin/pghero', class: "text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                      <%= heroicon 'database', variant: :outline, options: { class: "text-gray-400 group-hover:text-gray-300 mr-3 flex-shrink-0 h-6 w-6" } %>
                      Database
                    <% end %>
                  <% end %>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <div class="md:pl-64 flex flex-col">
          <% unless Rails.env.production? %>
            <div class="sticky top-0 z-10 h-16 <%= Rails.env.development? ? 'bg-blue-400' : 'bg-yellow-400' %> flex items-center">
              <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
                <div class="pr-16 sm:text-center sm:px-16">
                  <p class="uppercase font-bold text-white">
                    <span class="inline">
                      <%= Rails.env.titleize %> environment
                    </span>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
          <div class="sticky top-0 z-10 flex-shrink-0 flex h-16 bg-white shadow">
            <button type="button" class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden" data-action='click->toggle#toggle touch->toggle#toggle'>
              <span class="sr-only">Open sidebar</span>
              <!-- Heroicon name: outline/menu-alt-2 -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
              </svg>
            </button>
            <div class="flex-1 px-4 flex justify-between">
              <div class="flex-1 flex">
                <%= form_with url: search_path, html: { method: :get, class: 'w-full flex md:ml-0' } do |f| %>
                  <%= f.label :query, class: 'sr-only' do %>Search<% end %>
                  <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                    <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
                      <%= heroicon 'search', variant: :solid, options: { class: 'h-5 w-5' } %>
                    </div>
                    <%= f.search_field :query, class: 'block w-full h-full pl-8 pr-3 py-2 border-transparent text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-transparent sm:text-sm', placeholder: 'Search contracts and fittings' %>
                  </div>
                <% end %>
              </div>
              <div class="ml-4 flex items-center md:ml-6">
                <%#
                <button type="button" class="bg-white p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  <span class="sr-only">View notifications</span>
                  <!-- Heroicon name: outline/bell -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                  </svg>
                </button>
                %>

                <!-- Profile dropdown -->
                <div class="ml-3 relative" data-controller="dropdown">
                  <div>
                    <button type="button" class="max-w-xs bg-white flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="user-menu-button" aria-expanded="false" aria-haspopup="true" data-action="click->dropdown#toggle click@window->dropdown#hide" data-dropdown-target="button">
                      <span class="sr-only">Open user menu</span>
                      <%= image_tag current_user.character.portrait_url_256, class: 'h-8 w-8 rounded-full', alt: '' %>
                    </button>
                  </div>

                  <!--
                    Dropdown menu, show/hide based on menu state.

                    Entering: "transition ease-out duration-100"
                      From: "transform opacity-0 scale-95"
                      To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                      From: "transform opacity-100 scale-100"
                      To: "transform opacity-0 scale-95"
                  -->
                  <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1" data-dropdown-target="menu">
                    <%= link_to 'Settings', settings_path, class: 'block px-4 py-2 text-sm text-gray-700', role: 'menuitem', tabindex: '-1' %>

                    <%= link_to 'Log out', log_out_path, class: "block px-4 py-2 text-sm text-gray-700", 'data-turbo-method': :post %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <main class="flex-1 pb-8">
            <% if content_for?(:breadcrumbs) %><%= yield :breadcrumbs if content_for?(:breadcrumbs) %><% end %>
            <%= render 'application/alerts' %>
            <div class="py-6">
              <%= content_for?(:main) ? yield(:main) : yield %>
            </div>
          </main>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
