<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title><%= "[#{Rails.env.upcase}] " unless Rails.env.production? %><%= site_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= NewRelic::Agent.browser_timing_header(content_security_policy_nonce) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag main_alliance_logo_url %>

    <%= stylesheet_link_tag 'https://rsms.me/inter/inter.css' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= javascript_pack_tag 'application', nonce: true %>
  </head>

  <body class="h-full">
    <% if logged_in? %>
      <div data-controller="toggle">
        <%= render 'application/mobile_nav' %>
        <%= render 'application/side_nav' %>

        <div class="md:pl-64 flex flex-col">
          <%= render 'application/environment_banner' unless Rails.env.production? %>
          <%= render 'application/top_nav' %>

          <main class="flex-1 pb-8">
            <% if content_for?(:breadcrumbs) %><%= yield :breadcrumbs if content_for?(:breadcrumbs) %><% end %>
            <%= render 'application/alerts' %>
            <div class="py-6">
              <%= content_for?(:main) ? yield(:main) : yield %>
            </div>
          </main>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
