<!DOCTYPE html>
<html>
  <head>
    <title>EVE Indy Watch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', defer: true %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
